header {
    height: 80px;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    padding-left: 120px;
    padding-right: 120px;


    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
        color: white;
        text-decoration: none;
        padding-left: 32px;
        font-weight: 500;

        &:hover {
            color: rgb(255, 255, 255, 0.8);
        }

    }

    img {
        height: 50px;
    }
}